<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/dashboard">Charts</a>
                </li>
                <li>
                    <a href = "/receipts">Receipts</a>
                </li>

                <li><a href='#'><span>Folders</span></a>
                    <ul>
                        <% for(var i = 0; i < session.folders.length; i ++){ %>
                                <li class = "folder" id = "folder_<%= i %>">
                                    <span class="ico-pull pull-right">

                                        <form style="float: right;" action="/delete_folder/<%= session.folders[i] %>" method="post">
                                            <input type="image" src="images/delete.png" name="<%=session.folders[i] %>"></input>  
                                        </form>

                                        <img src="images/edit.png" onclick="renameForm()">
                                        <script>
                                        function renameForm() {
                                            // turns the folder li into a text box to rename the folder
                                            $("#folder_<%= i %>").replaceWith("<form action='/rename_folder/<%=session.folders[i] %>' method='post'><input type='text' name='newFolderName' placeholder=<%= session.folders[i] %>></form>")
                                        }
                                        </script>
                                    </span>
                                    <a href='/folders/<%= session.folders[i] %>'><span><%= session.folders[i] %></span></a>
                                </li>
                        <% } %>
                    </ul>
                </li>
                <li>
                    <!-- <script>
                    function nameFolder() {
                        document.getElementById("#nameFolder").innerHTML = "<form action='/create_folder' method='post'>
                                <input type='text' name='folderName' placeholder='Folder Name'>"
                    }
                    </script> -->
                    <!-- <a href = "/receipts">Add new folder</a> -->
                    <button id="nameFolder" onclick="nameFolder()">Add new folder</button>

                </li>
                <li>
                    <div id="new_folder_form">
                        <form action="/create_folder" method="post">
                            <input type="text" name = "folderName" placeholder="Folder Name">
                            <button class="btn-primary" type="submit">
                                Create Folder
                            </button>
                        </form>
                    </div>
                </li>

                <li>
                    <a href = "/logout">Logout</a>
                </li>
            </ul>
        </div>