<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/dashboard">Charts</a>
                </li>
                <li>
                    <a href = "/receipts">Receipts</a>
                </li>

                <li><span>Folders</span>
                    <ul>

                        <% for(var i = 0; i < session.folders.length; i ++){ %>
                                <li class = "folder" id = "folder_<%= i %>" style="padding-right: 10px;">
                                    <span class="ico-pull pull-right">
                                     
                                        <img src="/images/glyphicons-31-pencil.png" onclick="renameForm(<%= i %>, '<%=session.folders[i] %>')" style="cursor: pointer;">

                                        <img src="/images/glyphicons-208-remove.png" onclick="deleteFolder('<%= session.folders[i] %>')" style="cursor: pointer;">

                                    </span>
                                    <a href='/folders/<%= session.folders[i] %>'><span><%= session.folders[i] %></span></a>
                                </li>
                        <% } %>
                    </ul>
                </li>
                <li>
                    <button id="nameFolder" onclick="nameFolder()" class="btn btn-primary">Create Folder</button>
                </li>

                <li>
                    <a href = "/logout">Logout</a>
                </li>
            </ul>
        </div>