
<% include partials/headers %>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script type="text/javascript">
    var by_month = <%- JSON.stringify(parsed['by_month']['2016']) %>
var by_store = <%- JSON.stringify(parsed['by_store']['2016']) %>
var janurary = <%- JSON.stringify(parsed['by_store']['2016']['1']) %>
var february = <%- JSON.stringify(parsed['by_store']['2016']['2'])%>
var march = <%- JSON.stringify(parsed['by_store']['2016']['3'])%>
var april = <%- JSON.stringify(parsed['by_store']['2016']['4'])%>
var may = <%- JSON.stringify(parsed['by_store']['2016']['5'])%>
var june = <%- JSON.stringify(parsed['by_store']['2016']['6'])%>
var july = <%- JSON.stringify(parsed['by_store']['2016']['7'])%>
var august = <%- JSON.stringify(parsed['by_store']['2016']['8'])%>
var september = <%- JSON.stringify(parsed['by_store']['2016']['9'])%>
var october = <%- JSON.stringify(parsed['by_store']['2016']['10'])%>
var november = <%- JSON.stringify(parsed['by_store']['2016']['11'])%>
var december = <%- JSON.stringify(parsed['by_store']['2016']['12'])%>
</script>

<!-- main content -->
<% include partials/navbar-inside %>
<div id="wrapper">
<% include partials/sidebar %>
<div id="page-content-wrapper">

<section id="month">
<h2>Monthly Spendings</h2>
<div id="monthly" style="width: 100%; height: 400px;">


</section>

<hr/>
<section id="store">

<ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#menu1">Jan</a></li>
    <li><a data-toggle="tab" href="#menu2">Feb</a></li>
    <li><a data-toggle="tab" href="#menu3">Mar</a></li>
    <li><a data-toggle="tab" href="#menu4">Apr</a></li>
    <li><a data-toggle="tab" href="#menu5">May</a></li>
    <li><a data-toggle="tab" href="#menu6">Jun</a></li>
    <li><a data-toggle="tab" href="#menu7">Jul</a></li>
    <li><a data-toggle="tab" href="#menu8">Aug</a></li>
    <li><a data-toggle="tab" href="#menu9">Sep</a></li>
    <li><a data-toggle="tab" href="#menu10">Oct</a></li>
    <li><a data-toggle="tab" href="#menu11">Nov</a></li>
    <li><a data-toggle="tab" href="#menu12">Dec</a></li>
  </ul>

<div class="tab-content">

    <div id="menu1" class="tab-pane fade">
    <h3 id="jan-message"></h3>
    <div id="jan" style="width: 500px; height: 400px;"></div>
    </div>

    <div id="menu2" class="tab-pane fade">
    <h3 id="feb-message"></h3>
    <div id="feb" style="width: 500px; height: 400px;"></div>
    </div>

    <div id="menu3" class="tab-pane fade">
    <h3 id="mar-message"></h3>
    <div id="mar" style="width: 500px; height: 400px;"></div>
    </div>

    <div id="menu4" class="tab-pane fade">
    <h3 id="apr-message"></h3>
    <div id="apr" style="width: 500px; height: 400px;"></div>
    </div>

    <div id="menu5" class="tab-pane fade">
    <h3 id="may-message"></h3>
    <div id="may" style="width: 500px; height: 400px;"></div>
    </div>

    <div id="menu6" class="tab-pane fade">
    <h3 id="jun-message"></h3>
    <div id="jun" style="width: 500px; height: 400px;"></div>
    </div>

    <div id="menu7" class="tab-pane fade">
    <h3 id="jul-message"></h3>
    <div id="jul" style="width: 500px; height: 400px;"></div>
    </div>

    <div id="menu8" class="tab-pane fade">
    <h3 id="aug-message"></h3>
    <div id="aug" style="width: 500px; height: 400px;"></div>
    </div>

    <div id="menu9" class="tab-pane fade">
    <h3 id="sep-message"></h3>
    <div id="sep" style="width: 500px; height: 400px;"></div>
    </div>

    <div id="menu10" class="tab-pane fade">
    <h3 id="oct-message"></h3>
    <div id="oct" style="width: 500px; height: 400px;"></div>
    </div>

    <div id="menu11" class="tab-pane fade">
    <h3 id="nov-message"></h3>
    <div id="nov" style="width: 500px; height: 400px;"></div>
    </div>

    <div id="menu12" class="tab-pane fade">
    <h3 id="dec-message"></h3>
    <div id="dec" style="width: 500px; height: 400px;"></div>
    </div>
  </div>




</section>
</div>

</div>
<script type="text/javascript" src="/js/script.js"></script>