<html lang="en">
    <head>
        <% include partials/headers %>
    </head>
    <body>
        <% include partials/navbar-inside %>
        <div class = "container">
            <% if (typeof receipts == "object") { %>
                <div class="panel-group" id="accordion"> <% for(var i = 0; i < receipts.length; i++) { %>
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= receipts[i].receipt_id %>"><%= receipts[i].name %></a>
                            </h4>
                            <%= receipts[i].date_created %>

                        </div>
                        <div id="collapse<%= receipts[i].receipt_id %>" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class = "row">
                                    <div class = "col-md-4">

                                        <a href = "receipts/<%= receipts[i].receipt_id %>">Link</a>
                                        <h2>Total</h2>
                                        <p>$<%= receipts[i].total %></p>

                                        <h2>Items</h2>
                                        <ol>
                                            <% for(var j = 0; j < receipts[i].itemsList.length; j++) { %>

                                                <li><%= receipts[i].itemsList[j].name %></li>

                                            <% } %>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>

                </div> <% } else { %>
                There are no receipts associated with this account 
                <% } %>
        </div>

    <p><a href = "/dashboard">Dashboard</a></p>
    <% include partials/footer %>
    </body>
</html>