<html lang="en">
    <head>
        <% include partials/headers %>
        <style type="text/css">
            .list-group .glyphicon { float: right;}
        </style>
        <script type="text/javascript" src = "/js/receipts_animation.js"></script>
    </head>
    <body>
        <% include partials/navbar-inside %>
        <div class = "container">
        <div class = "row">
            <% if (typeof receipts == "object") { %>
                <ul class="list-group col-md-6"> <% for(var i = 0; i < receipts.length; i++) { %>
                    <li class = "list-group-item" id = "<%= receipts[i].receipt_id %>">
                        <a href = "receipts/<%= receipts[i].receipt_id %>?popout=true", target = "_blank">
                            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                        </a>

                        <h4><%= receipts[i].name %></h4>
                        <p>$
                            <%= receipts[i].total %>
                            <%=  new Date(receipts[i].date_created).toLocaleDateString() %>
                             at 
                             <%= new Date(receipts[i].date_created).toLocaleTimeString() %>
                         </p>
                    </li>
                <% } %>
                </ul>
                <div class = "col-md-6" id = "receiptArea">
                    <div class = "jumbotron well">
                        <h1>Let's get started!</h1>
                        <p>Click a receipt on the left to view it individually.</p>
                        <p> You can also click <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> to move the receipt to a new window.</p>
                    </div>
                </div>
            <% } else { %>
                There are no receipts associated with this account 
            <% } %>
        </div>
        </div>

    <% include partials/footer %>
    </body>
</html>