<html lang="en">
    <head>
        <% include partials/headers %>
        <script type="text/javascript" src="/js/drag_and_drop.js"></script>
        
        <style type="text/css">
            .list-group .glyphicon { float: right;}
            .active .glyphicon {color: white;}
        </style>
        <script type="text/javascript" src = "/js/receipts_animation.js"></script>

    </head>
    <body>
        <% include partials/navbar-inside %>
        <% include partials/sidebar %>
        <div class = "container">
            <div class = "row">
            <div id="wrapper">
            <div id="page-content-wrapper">


                <% if (typeof receipts == "object" && receipts != null) { %>

                    <ul class="list-group col-md-6"> <% for(var i = 0; i < receipts.length; i++) { %>
                        <li class = "list-group-item" id = "<%= receipts[i].receipt_id %>">
                            <a href = "/receipts/<%= receipts[i].receipt_id %>?popout=true", target = "_blank">
                                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                            </a>

                            <h4><%= receipts[i].name %></h4>
                            <p>$
                                <%= receipts[i].total %>
                                <%=  new Date(receipts[i].date_created).toLocaleDateString() %>
                                 at 
                                 <%= new Date(receipts[i].date_created).toLocaleTimeString() %>
                             </p>
                        </li>
                    <% } %>
                    </ul>
                    <div class = "col-md-6" id = "receiptArea">
                        <div class = "jumbotron well">
                            <h3>Let's get started!</h3>
                            <p>Click a receipt on the left to view it individually.</p>
                            <p> You can also click <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> to move the receipt to a new window. There, you will also find a map of the store associated with that receipt.</p>
                        </div>
                    </div>
                <% } else { %>
                    <div class = "col-md-12" id = "receiptArea">
                        <div class = "jumbotron well">
                            <h3>No receipts</h3>
                            <p>There are no receipts according to your selection.</p>
                        </div>
                    </div>
                <% } %>
            </div>
            </div>
            </div>
        </div>

    <p><a href = "/dashboard">Dashboard</a></p>

    <br>
    <% include partials/footer %>

    </body>
</html>